<!-- <ng-container *ngIf="{ book: book$ | async } as x">
  <h2>{{ x.book?.title }} –
      {{ x.book?.rating }}
  </h2>

  <p *ngIf="showDetails">
    Details:
    {{ x.book?.description }}
  </p>
</ng-container>

<button
  (click)="showDetails = !showDetails"
  class="btn btn-secondary">Toggle Details</button> -->


<br-book [book]="book$ | async"></br-book>

<span *ngIf="loading">Lade...</span>

<hr>

<a routerLink="/books/9783960091417">Gehe zu GitHub</a><br>
<a routerLink="/books/9783864909467">Gehe zu Angular</a><br>
<a routerLink="/books/404">Gehe zu Fehler 404</a><br>
