/* You can add global styles to this file, and also import other style files */

$primary: rgb(195, 0, 47);
$enable-rounded: false;
$enable-negative-margins: true;

@import '@angular-schule/workshop-styles/index';


